#footer-wrap 
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`
  .github-badge
    a(style='color:#fff', rel='external nofollow noopener noreferrer', href='https://hexo.io/', target='_blank', title='由 Hexo 强力驱动', data-pjax-state='')
      span.badge-subject Powered
      span.badge-value.bg-blue Hexo
  .github-badge
    a(style='color:#fff', rel='external nofollow noopener noreferrer', href='https://github.com/chachabai/hexo-theme-butterfly', target='_blank', title='主题', data-pjax-state='')
      span.badge-subject Theme
      span.badge-value.bg-blueviolet Butterfly
  .github-badge
    a(style='color:#fff', rel='external nofollow noopener noreferrer', href='https://github.com/', target='_blank', title='静态网页托管于 GitHub Pages 和 Coding Pages', data-pjax-state='')
      span.badge-subject Hosted
      span.badge-value.bg-brightgreen GitHub
  .footer_custom_text
  .github-badge
    a(style='color:#fff', rel='external nofollow noopener noreferrer', href='/', target='_blank', title='运行时间', data-pjax-state='')
      span.badge-subject Since
      span.badge-value.bg-orange!=`${theme.footer.owner.since}`
  .github-badge
    a(style='color:#fff', rel='external nofollow noopener noreferrer', href='/', target='_blank', title='本人博客', data-pjax-state='')
      span.badge-subject Author
      span.badge-value.bg-gradient!=`${config.author}`
	  
  if theme.footer.ICP.enable
    .icp
      a(href=theme.footer.ICP.url)
        if theme.footer.ICP.icon
          img.icp-icon(src=url_for(theme.footer.ICP.icon))
        span=theme.footer.ICP.text

//- #jsi-flying-fish-container.container

//- style.
//-   @media only screen and (max-width: 767px){
//-     #sidebar_search_box input[type=text]{width:calc(100% - 24px)}
//-   }
